@font-face {
    font-family: 'fa';
    src: url(../fonts/fa-brands-400.ttf);
}

.fa {
    color: #fff;
    padding: 0 1em;
    min-width: 7em;
    line-height: 2.2;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 1em;
}

.container .fa:not(:last-child) {
    margin-inline-end: .6em;
}

.fa::before {
    font-family: fa;
    margin-inline-end: .3em;
}

.fa.facebook::before {
    content: '\f09a';
}

.fa.pintrest::before {
    content: '\f0d2';
}

.fa.linkedin::before {
    content: '\f0e1';
}

.fa.facebook {
    background-color: #1977f3;
}

.fa.pintrest {
    background-color: #bc071b;
}

.fa.linkedin {
    background-color: #1c75b5;
}


:root {
    --el-size: 200px;
    --clr-base: orange;
    --clr-base-light: #ffec00;
    --clr-light: #ccc;
    --clr-dark: #999;
    --clr-dark-2: #2d2d2d;
}

::selection {
    background-color: var(--clr-base-light);
    color: var(--clr-dark-2);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Lato, helvetica, arial, sans-serif;
    color: var(--clr-dark-2);
    counter-reset: section;
}

h1 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: var(--clr-dark-2);
    padding: 0.7em 1em;
}

.main-nav button {
    border-radius: 50%;
    border: none;
    width: 26px;
    height: 26px;
    background-color: transparent;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.main-nav button:hover {
    cursor: pointer;
    color: var(--clr-base);
}


.main-nav button.active {
    background-color: var(--clr-base);
    font-weight: 600;
    color: var(--clr-dark-2);

    transition: background-color 1s;
}

main.main-content {
    flex: 1;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.training-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "h h"
        "e i";

    justify-items: center;
    align-items: center;

    min-height: calc(100% + 2px);
    scroll-snap-align: start;
    border-bottom: 2px solid var(--clr-dark);
}

.training-container::before {
    content: "";
    grid-area: 2 / 1 / -1 / 2;
    background-color: var(--clr-light);

    align-self: stretch;
    justify-self: stretch;
}

.training-container::after {
    content: "";
    grid-area: 2 / 1 / -1 / 2;
    width: 0;
    height: 0;
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent var(--clr-light);
    border-style: solid;
    justify-self: end;
    transition: transform 0.4s;
    z-index: -1;
}

.training-container.active::after {
    transform: translateX(100%);
}

.training-container>h2 {
    grid-area: h;
    border-bottom: 2px solid var(--clr-dark);
    margin: 0;
    justify-self: stretch;
    padding: 0.6em 1em;
    font-size: 1.125rem;
    font-weight: 900;
    position: sticky;
    top: 0;
    background-color: #fff;
    color: #fff;

    transition: color 0.4s;
}

.training-container.active>h2 {
    color: inherit;
}

.training-container>h2::before {
    counter-increment: section;
    content: "Training " counter(section) ": ";
    font-weight: 400;
}

.training-container>img {
    grid-area: i;
    border: 2px solid var(--clr-dark);
    margin: 50px;
}

.training-container>span.width-label {
    grid-area: 2 / 1;
    align-self: end;
    background: #727272;
    color: #fff;
    margin: 20px;
    padding: 5px 16px 8px;
}

.training-el {
    grid-area: e;
    border: 2px solid var(--clr-dark);
    min-width: var(--el-size);
    min-height: var(--el-size);
    justify-self: center;
    background-color: #fff;
    resize: both;
    overflow: auto;
    margin: 50px;
    padding: 20px;
}

.training-el :is(span, header, aside, main, footer).light {
    background-color: var(--clr-base-light);
}

.training-el img {
    width: 100%;
}

.container {
    container-type: inline-size;
}

.training-container:nth-child(1) .training-el {
    resize: horizontal;
}