/* Training 1 */
/* Simple Alignment */

@container (max-width: 370px) {
    .training-container:nth-child(1) .container>span {
        min-width: .6em;
        line-height: 1.6em;
    }

    .training-container:nth-child(1) .container>span::before {
        margin: 0;
    }

    .training-container:nth-child(1) .container>span>span {
        display: none;
    }
}

/* Training 2 */
/* Overlays */

.training-container:nth-child(2) .pager-container span {
    display: none;
}

.training-container:nth-child(2) .pager-container button {
    flex: 100%;
}

@container (min-width: 200px) {
    .training-container:nth-child(2) .pager-container {
        justify-content: space-between;
    }

    .training-container:nth-child(2) .pager-container button {
        flex: unset;
    }
}

@container (min-width: 380px) {
    .training-container:nth-child(2) .pager-container {
        justify-content: start;
    }

    .training-container:nth-child(2) .pager-container span {
        display: flex;
    }
}


/* Training 3 */
/* Horizontal 1D */
.training-container:nth-child(3) .container {}

/* Training 4 */
/* Vertical 1D */
.training-container:nth-child(4) .container {}

/* Training 5 */
/* Masonry Horizontal */
.training-container:nth-child(5) .container {}