.responsive-layout {
    margin: 0;
    background-color: #d7d7d7;
}

.responsive-layout > * {
    padding: 10px;
}

.responsive-layout > aside {
    background-color: #fff;
}

.responsive-layout > header {
    background-color: #868686;
    color: #fff;
}

.responsive-layout > main {
    padding: 0;
}

.responsive-layout > footer {
    background-color: #868686;
    color: #fff;
}

main > div {
    background-color: lightsalmon;
    aspect-ratio: 1 / 1;
    padding: 10px;
}

main > div > span {
    background-color: #e5845d;
    aspect-ratio: 1 / 1;
    padding: 10px;
}


/* Media Queries */

/* SMALL */

@media (min-width: 800px) {

    
}

/* MEDIUM */

@media (min-width: 970px) {

}

/* LARGE */

@media (min-width: 1120px) {

}