:root {
    --el-size: 300px;
    --clr-base: orange;
    --clr-base-light: #ffec00;
    --clr-light: #ccc;
    --clr-dark: #999;
    --clr-dark-2: #2d2d2d;
}

::selection {
    background-color: var(--clr-base-light);
    color: var(--clr-dark-2);
}

* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Lato, helvetica, arial, sans-serif;
    color: var(--clr-dark-2);
    counter-reset: section;
}

h1 {
    background-color: var(--clr-dark-2);
    margin: 0;
    padding: 1em;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

main {
    flex: 1;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    min-height: 100vh;

}

.training-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "h h"
    "e i";

    justify-items: center;
    align-items: center;

    min-height: 100vh;
    scroll-snap-align: start;
    border-bottom: 2px solid var(--clr-dark);
}

.training-container::before {
    content: "";
    grid-area: 2 / 1 / -1 / 2;
    /* border-inline-end: 1px dashed var(--clr-dark); */
    background-color: var(--clr-light);

    align-self: stretch;
    justify-self: stretch;

}

.training-container::after {
    content: "";
    grid-area: 2 / 1 / -1 / 2;
    width: 0;
    height: 0;
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent var(--clr-light);
    border-style: solid;
    justify-self: end;
    transition: transform 0.4s;
    z-index: -1;
}

.training-container.active::after {
    transform: translateX(100%);
}

.training-container > h2 {
    grid-area: h;
    border-bottom: 2px solid var(--clr-dark);
    margin: 0;
    justify-self: stretch;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 900;
    position: sticky;
    top: 0;
    background-color: #fff;
    color: #fff;

    transition: color .4s;
}

.training-container.active > h2 {
    color: inherit;
}

.training-container > h2::before {
    counter-increment: section;
    content: "Training " counter(section) ": ";
    font-weight: 400;
}

.training-container > img {
    grid-area: i;
    border: 2px solid var(--clr-dark);
    margin: 50px;
}


.training-el {
    grid-area: e;
    border: 2px solid var(--clr-dark);
    min-width: var(--el-size);
    min-height: var(--el-size);
    justify-self: center;
    background-color: #fff;
    resize: both;
    overflow: auto;
    margin: 50px;
}

.training-el span {
    background-color: var(--clr-base);
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.training-el span.light {
    background-color: var(--clr-base-light);
}


.training-el img {
    width: 100%;
}

.masonry.horizontal > span:nth-child(1) { width: 60px; }
.masonry.horizontal > span:nth-child(2) { width: 40px; }
.masonry.horizontal > span:nth-child(3) { width: 50px; }
.masonry.horizontal > span:nth-child(4) { width: 70px; }
.masonry.horizontal > span:nth-child(5) { width: 20px; }
.masonry.horizontal > span:nth-child(6) { width: 30px; }
.masonry.horizontal > span:nth-child(7) { width: 40px; }
.masonry.horizontal > span:nth-child(8) { width: 70px; }
.masonry.horizontal > span:nth-child(9) { width: 20px; }
.masonry.horizontal > span:nth-child(10) { width: 30px; }

.masonry.vertical > span:nth-child(1) { height: 60px; }
.masonry.vertical > span:nth-child(2) { height: 40px; }
.masonry.vertical > span:nth-child(3) { height: 50px; }
.masonry.vertical > span:nth-child(4) { height: 70px; }
.masonry.vertical > span:nth-child(5) { height: 20px; }
.masonry.vertical > span:nth-child(6) { height: 30px; }
.masonry.vertical > span:nth-child(7) { height: 40px; }
.masonry.vertical > span:nth-child(8) { height: 70px; }
.masonry.vertical > span:nth-child(9) { height: 20px; }
.masonry.vertical > span:nth-child(10) { height: 30px; }
