@font-face {
    font-family: 'faa';
    src: url(../fonts/fa-brands-400.ttf);
}

:root {
    --el-size: 200px;
    --clr-base: orange;
    --clr-base-light: #ffec00;
    --clr-light: #ccc;
    --clr-dark: #999;
    --clr-dark-2: #2d2d2d;
}

::selection {
    background-color: var(--clr-base-light);
    color: var(--clr-dark-2);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Lato, helvetica, arial, sans-serif;
    color: var(--clr-dark-2);
    counter-reset: section;
}

h1 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: var(--clr-dark-2);
    padding: 0.7em 1em;
}

.main-nav button {
    border-radius: 50%;
    border: none;
    width: 26px;
    height: 26px;
    background-color: transparent;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.main-nav button:hover {
    cursor: pointer;
    color: var(--clr-base);
}


.main-nav button.active {
    background-color: var(--clr-base);
    font-weight: 600;
    color: var(--clr-dark-2);

    transition: background-color 1s;
}

main.main-content {
    flex: 1;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.training-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "h h"
        "e i";

    justify-items: center;
    align-items: center;

    min-height: calc(100% + 2px);
    scroll-snap-align: start;
    border-bottom: 2px solid var(--clr-dark);
}

.training-container::before {
    content: "";
    grid-area: 2 / 1 / -1 / 2;
    background-color: var(--clr-light);

    align-self: stretch;
    justify-self: stretch;
}

.training-container::after {
    content: "";
    grid-area: 2 / 1 / -1 / 2;
    width: 0;
    height: 0;
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent var(--clr-light);
    border-style: solid;
    justify-self: end;
    transition: transform 0.4s;
    z-index: -1;
}

.training-container.active::after {
    transform: translateX(100%);
}

.training-container>h2 {
    grid-area: h;
    border-bottom: 2px solid var(--clr-dark);
    margin: 0;
    justify-self: stretch;
    padding: 0.6em 1em;
    font-size: 1.125rem;
    font-weight: 900;
    position: sticky;
    top: 0;
    background-color: #fff;
    color: #fff;

    transition: color 0.4s;
}

.training-container.active>h2 {
    color: inherit;
}

.training-container>h2::before {
    counter-increment: section;
    content: "Training " counter(section) ": ";
    font-weight: 400;
}

.training-container>img {
    grid-area: i;
    border: 2px solid var(--clr-dark);
    margin: 50px;
}

.training-container>span.width-label {
    grid-area: 2 / 1;
    align-self: end;
    background: #727272;
    color: #fff;
    margin: 20px;
    padding: 5px 16px 8px;
}

.training-el {
    grid-area: e;
    border: 2px solid var(--clr-dark);
    min-width: var(--el-size);
    min-height: var(--el-size);
    justify-self: center;
    background-color: #fff;
    resize: horizontal;
    overflow: auto;
    margin: 50px;
    padding: 20px;
    overflow: hidden;
}

.training-el :is(span, header, aside, main, footer).light {
    background-color: var(--clr-base-light);
}

.training-el img {
    width: 100%;
}

.container {
    container-type: inline-size;
}

/* Social Sharing */

.faa {
    color: #fff;
    padding: 0 1em;
    min-width: 7em;
    line-height: 2.2;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 1em;
}

.container .faa:not(:last-child) {
    margin-inline-end: .6em;
}


.faa::before {
    font-family: faa;
    margin-inline-end: .3em;
}

.faa.facebook::before {
    content: '\f09a';
}

.faa.pintrest::before {
    content: '\f0d2';
}

.faa.linkedin::before {
    content: '\f0e1';
}

.faa.facebook {
    background-color: #1977f3;
}

.faa.pintrest {
    background-color: #bc071b;
}

.faa.linkedin {
    background-color: #1c75b5;
}

/* Pager */

.pager-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 4px;
}

.pager-container button {
    border: none;
    border-radius: 2em;
    line-height: 2;
    min-width: 4em;
    width: 6em;
    background-color: #e0e0e0;
}

.pager-container span {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727272;
}

/* Search */

.t-search .training-el {
    min-height: 100px;
    min-width: 320px;
    padding: 30px;
    background-color: #f8f8f8;
}

.t-search-container {
    display: grid;
    align-items: center;
    max-width: 400px;
}

.t-search-container>* {
    grid-area: 1 / 1 / -1 / -1;
}

.t-search input {
    border-radius: 2em;
    border: 1px solid #daddf0;
    line-height: 2.6;
    padding: 0 5em 0 1em;
}

.t-search button {
    justify-self: end;
    font-family: Lato, helvetica, arial, sans-serif;
    background-color: #5b72ee;
    color: #fff;
    border: none;
    border-radius: 2em;
    font-size: 14px;
    align-self: stretch;
    padding: 0 1.2em;
}

.t-search button span {
    display: none;
}

.t-search button i {
    font-size: 1.3em;
}

.t-search-container>i {
    justify-self: start;
    z-index: 1;
    color: #a7a7a7;
    padding: 0 1em;
    display: none;
}

/* Grid */

.t-grid .training-el {

    --bg3: #c8bff8;
    --bg1: #f7d4bf;
    --bg2: #bfe4f7;

    min-height: 300px;
    min-width: 420px;
    padding: 30px;
    background-color: #f8f8f8;
    resize: unset;
    color: #5d5d5d;
}

.t-grid-container {
    display: grid;
    gap: 16px 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    font-size: 11px;
}

.t-grid-container>* {
    grid-column: span 2;
    grid-row: span 2;
}

.t-grid-container>*:nth-child(4),
.t-grid-container>*:nth-child(5) {
    grid-column: span 3;
}

.t-grid-container>*:nth-child(6) {
    grid-column: span 6;
}

.t-grid-container .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    border-radius: 4px;
    height: 100%;
}

.t-grid-container .card-image {
    background-color: var(--bg1);
    color: #fff;
    flex: 1;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.t-grid-container .card-text {
    padding: 0 10px;
    margin: .4em 0 .6em;
}