:root {
    --clr-error: #ff622b;
    --clr-success: #428908;
    --clr-marker: #ffeb3b;

    --clr-primary-100: #a41112;
    --clr-primary-200: #1cd1d0;

    --clr-secondary-200: #ddd;
    --clr-secondary-300: #bfbfbf;
    --clr-secondary-400: #8a8a8a;
    --clr-secondary-800: #545454;
    --clr-secondary-900: #262626;
    --clr-secondary-base: #171717;

}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-secondary-base);
    margin: 4rem 4rem;
    font-family: 'Lato', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
    margin: 0 0 0.6em;
    line-height: 1;
}

h1 {
    font-size: 3.125rem;
    line-break: anywhere;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    width: clamp(7ch, 46vw, 14ch);
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'EB Garamond', serif;
}

p {
    margin: 0 0 1em;
    max-width: 60ch;
}

html {
    container-type: inline-size;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 
    minmax(2rem, 1fr)
    minmax(auto, 1200px)
    minmax(2rem, 1fr)
    ;
}

.main-container > * {
    grid-column: 2;
    margin: 20px 0;
}

@media (max-width: 680px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px; 
    }

    .card-container .full {
        grid-column: 1 / -1;
    }
}


@container (min-width: calc(760px + 4rem)) {
    .main-container {
        display: grid;
        grid-template-columns: 
        minmax(2rem, 1fr)
        minmax(auto, 760px)
        minmax(2rem, 1fr)
        ;
    }

    body {
        font-size: 1.1rem;
    }


}

.main-content {
    display: grid;
    grid-template-areas: 
    "h"
    "a"
    "m"
    "f";
}

@container (min-width: calc(1020px + 4rem)) {

    .main-container {
        display: grid;
        grid-template-columns: 
        minmax(2rem, 1fr)
        minmax(auto, 1020px)
        minmax(2rem, 1fr)
        ;
    }

    .main-content {
        /* display: grid; */
        grid-template-columns: 1fr 300px;
        grid-template-rows: auto 1fr auto;
        gap: 0 60px;
    
        grid-template-areas: 
        "h ."
        "m a"
        "f f";
    }

    body {
        font-size: 1.3rem;
    }
}

@container (min-width: calc(1200px + 4rem)) {
    .main-container {
        grid-template-columns: 
        minmax(2rem, 1fr)
        minmax(auto, 1200px)
        minmax(2rem, 1fr)
        ;
    }


}



header {
    grid-area: h;
}

main {
    grid-area: m;
}

aside {
    grid-area: a;
}

aside .card-inner {
    box-shadow: -6px 0 0 var(--clr-primary-200);
}

footer {
    grid-area: f;
    border-top: 1px solid var(--clr-secondary-300);
    padding-top: 20px;
}

.more-aricles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px
}

.card {
    container-type: inline-size;
    margin-bottom: 2rem;
    display: grid;
    justify-items: center;
}


.card-inner {
    box-shadow: -6px 0 0 var(--clr-secondary-base);
    display: grid;
    gap: 3cqi 6cqi;
    font-size: clamp(16px, .8em, 20px);
    background-color: var(--clr-secondary-200);
    max-width: 370px;
    grid-template-rows: 0 auto auto auto 0;
    grid-template-columns: 0 auto 0;
    grid-template-areas: 
    ". . ."
    ". c-ti ."
    "c-im c-im c-im"
    ". c-te ."
    ". . ."
    ;
}

.card .card-title {
    grid-area: c-ti;
}

.card .card-text {
    grid-area: c-te;
}

.card .card-image {
    grid-area: c-im;
}

@container (min-width: 600px) {
    .card-inner {
        font-size: clamp(16px, 1em, 18px);
        grid-template-columns: repeat(2, 1fr) 0;
        grid-template-rows: 0 min-content 1fr 0;
        max-width: initial;
        grid-template-areas: 
        "c-im . ."
        "c-im c-ti ."
        "c-im c-te ."
        "c-im . ."
    }
}

.banner {
    margin-bottom: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    container-type: inline-size;

    background-color: #dc494a;
    color: #099c9b;
}

.banner > * {
    grid-area: 1 / 1 / -1 / -1;
}

.banner h3 {
    z-index: 1;
    color: #fff;
    font-size: 14cqi;
    margin-bottom: 1cqb;
}

.banner picture {
    mix-blend-mode: color-burn;

    mix-blend-mode: difference;
    filter: grayscale(1);
}

.banner img {
    margin: 0;
    display: block;
}
